{% extends "base.html" %}

{% block body %}

<form method="post" action="/~i192740/Sprint2/register">
	{% if error is defined and error is not null %}
		<p style='color:red;'>{{ error }}</p>
	{% endif %}
	<input type="text" class="form-control" name="name" placeholder="Pseudo"><br />
	<input type="password" class="form-control" name="passwd" placeholder="Mot de passe"><br>
	<input type="password" class="form-control" name="c-passwd" placeholder="Confirmation mot de passe"><br>
	<input type="submit" class="btn btn-primary" value="Inscription">
</form>

{% endblock %}
